* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}
body {
  background: #fff9ff;
  align-items: center;
  justify-content: center;
  margin: auto;
}
html {
  font-size: 90%;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9ff;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 1px 0px 4px #bdbdbd;
}

.view {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80vw;
  height: 100vh;
  margin-left: 16%;
  top: 0;
}

.cardSection {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
.rightCard {
  display: flex;
  position: relative;
  flex-basis: 70%;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.videoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textoo {
  z-index: 100;
  font-size: 20px;
  color: #373739;
  font-weight: 800;
  font-family: "Poppins";
}
.texti {
  z-index: 100;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins";
  padding: 0.5rem;
  color: #373739;
}
/* h1,
p {
  z-index: 100%;
}
p {
  font-size: 15px;
  color: #373739;
  font-weight: 500;
} */
